.button {
  background-color: #78A2C2;
  color: white;
  border: 2px solid: #78A2C2;
  font-family: 'Cantarell', sans-serif;
  font-size:18px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 50%
  -webkit-transition-duration: 0.4s;
  box-sizing:border-box;
  transition-duration: 0.4s;
  cursor: pointer;
  position: relative; bottom:-105px;
}

.button:hover {
  background-color: white;
  color: #78A2C2;
  border:2px solid: #78A2C2;
  font-family: 'Cantarell', sans-serif;
  font-size:18px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color:#DEF2F1;
    text-align:center;
}

/* Style the header */
.header {
    background-color: #3AAFA9;
    padding: 25px;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 8.5px;
}

/* Left and right column */
.column.side {
    width: 25%;
    background-color:#DEF2F1;
    margin-top:0%;
    margin-bottom: 1%;
    height: 200px;
}

/* Middle column */
.column.middle {
    width: 50%;
    background-color: #DEF2F1;
    margin-top:0%;
    margin-bottom: 1%;
    height:200px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
.footer {
    background-color: #3AAFA9;
    padding: 10px;
    margin-top:1%;
}

h1 {
  font-family: 'Fjalla One', sans-serif;
  font-size:130px;
  color: #FEFFFF;
  text-align:center;
}

h2 {
  font-family: 'Cantarell', sans-serif;
  font-size:45px;
  color:#17252A;
  text-align: center;
}

h3 {
  font-family: 'Cantarell', sans-serif;
  font-size:23px;
  color:#17252A;
  text-align:center;
    position:relative; top: 100px;
}

.logo {
  text-align: center;
  position: relative;top: -350px; right:-25px;
  width: 190px;
  height: 185px;
}

.logo1 {
  position:relative; top:-60px; left: 950px;
  width: 190px;
  height: 185px;
}

.quote {
  position: relative; top:1px;
}


/*position: relative; right:-20%; top:30%;*/
/*position: relative; right:-25%; top:30%;*/
