* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Style the header */
.header {
    background-color: #3AAFA9;
    padding: 25px;
    text-align: center;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding-top: 1.5%;
}

/* Left and right column */
.column.side {
    width: 25%;
    background-color: #DEF2F1;
    height:750px;
}

/* Middle column */
.column.middle {
    width: 50%;
    background-color: #DEF2F1;
    height:750px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
.footer {
    background-color: #3AAFA9;
    padding: 10px;
    text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 800px) {
    .column.side, .column.middle {
        width: 100%;
    }

}

h1 {
  font-family: 'Fjalla One', sans-serif;
  font-size:130px;
  color: #FEFFFF;
  text-align:center;
}

h2 {
  font-family: 'Cantarell', sans-serif;
  font-size:45px;
  color:#17252A;
  text-align: center;
}

.text {
  font-family: 'Cantarell', sans-serif;
  font-size:26px;
  color:#17252A;
  text-align:center;
}

.login {
  font-family: 'Cantarell', sans-serif;
  font-size:40px;
  color:#17252A;
  text-align:center;
}

.container {
  width:700px;
  height:440px;
  background: white;
  margin:4% auto;
  border: 4px solid #17252A;
  box-shadow: 0 30px 40px rgba(0,0,0,.5);
  text-align:center;
  position:relative;
}

.container .form {
  position: relative;
}

.container .right {
  float:right;
  width:50%;
  height:433px;
  background-color:#3AAFA9;
  background:cover;
  position: relative; top: 3.5px;
}

input[type=text] {
    width: 200px;
    height: 33px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #000;
    box-sizing: border-box;
    font-size: 12px;
    font-family: 'Cantarell', sans-serif;
}

input[type=submit] {
  width:65px;
  font-family: 'Cantarell', sans-serif;
  position: relative; left:235px;
}

.move {
  margin-top: -45%;
  margin-left: 20%;
  position:relative'
}

.move1 {
  margin-top: 1%;
  margin-left: 20%;
  position:relative;
}

.all_move {
  position: relative; top:750px; left: -400px;
}

h3 {
  font-family: 'Cantarell', sans-serif;
  font-size: 22px;
}

.text {
  font-size: 14px;
}
