* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Style the header */
.header {
    background-color: #3AAFA9;
    padding: 50px;
    text-align: center;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding-top: 1.5%;
}

/* Left and right column */
.column.side {
    width: 25%;
    background-color: #DEF2F1;
    height:800px;
}

/* Middle column */
.column.middle {
    width: 50%;
    background-color: #DEF2F1;
    height:800px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
.footer {
    background-color: #3AAFA9;
    padding: 10px;
    text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 800px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

@media (max-width: 800px) {
  .container {
    height:500px;
    width:175px;
    background: white;
    margin:0 auto;
    border: 4px solid #17252A;
    box-shadow: 0 30px 40px rgba(0,0,0,.5);
    text-align:center;
  }
}

h1 {
  font-family: 'Fjalla One', sans-serif;
  font-size:150px;
  color: #FEFFFF;
  text-align:center;
}

h2 {
  font-family: 'Cantarell', sans-serif;
  font-size:55px;
  color:#17252A;
  text-align: center;
}

.text {
  font-family: 'Cantarell', sans-serif;
  font-size:26px;
  color:#17252A;
  text-align:center;
}

.login {
  font-family: 'Cantarell', sans-serif;
  font-size:40px;
  color:#17252A;
  text-align:center;
}

.container {
  width:700px;
  height:500px;
  background: white;
  margin:0 auto;
  border: 4px solid #17252A;
  box-shadow: 0 30px 40px rgba(0,0,0,.5);
  text-align:center;
  margin-top:-1%;
}

.container .right {
  float:right;
  width:50%;
  height:492px;
  background-color:#3AAFA9;
  background:cover;
}

input[type=text] {
    width: 200px;
    height: 33px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #000;
    box-sizing: border-box;
    font-size: 12px;
    font-family: 'Cantarell', sans-serif;
}

input[type=submit] {
  width:65px;
  font-family: 'Cantarell', sans-serif;
  margin-top: 5%;
  margin-left: 26%;
}

.move {
  margin-top: -45%;
  margin-left: 20%;
}

.move1 {
  margin-top: 1%;
  margin-left: 20%;
}

h3 {
  font-family: 'Cantarell', sans-serif;
  font-size: 22px;
}
